<!--two way binding-->
<mat-card>

  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>

      <input matInput type="text" name="title" placeholder="Enter Title" ngModel required minlength="3"
             #title="ngModel">
      <mat-error *ngIf="title.invalid">Title is a required field</mat-error>

    </mat-form-field>
    <mat-form-field>

      <textarea matInput rows="4" name="content" placeholder="Enter Content" ngModel required minlength="5"
                #content="ngModel"></textarea>

      <mat-error *ngIf="content.invalid">Content is a required field</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Submit</button>

  </form>

</mat-card>
